{% extends 'visitor/visitor_base.html' %}

{% block content %}


    <div>
        <h1>도서 검색창</h1>
    </div>
    <form action="" method='GET'>
        <div class="row" style="margin-bottom:10px;">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" name="search_key" value="{{ search_key }}"
                        placeholder="looking for...">
                    <span class="input-group-btn">
                        <input class="btn btn-default" type="submit" value="Search">
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </form>
    <div class="row">
        {% for book in booklist %}
        <div id="book_list_search" class="col-md-5" style="float: left; margin-bottom: 30px; margin-right: 30px;">
        <button id=button onclick="check()">
                {% csrf_token %}
                
                <h4>
                    {{ book.title }}
                </h4>
            <h5>by.{{ book.author }}</h5>
            </button>
        </div>
        {% endfor %}
    </div>
    <script language="javascript">
    
        function check(){
            var is = confirm(" 이 책을 찾으시겠습니까?");
            if(is){
                location.href="./start_or_not/";
                return true;
            }
            else{
                return false;
            }
        }
    

    </script>

{% endblock %}